In [ ]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
from config import (user, password, host, port, database)

In [ ]:
#Connecting to the Database 
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
connection = engine.connect()

In [ ]:
# Creating an dataframe from employees table on database
employees_df = pd.read_sql("SELECT * FROM employees", connection)

# Renaming column name to match the Title DataFrame
employees_df = employees_df.rename(columns={"emp_title_id" : "title_id"})

# Creating an dataframe from salaries table on database
salaries_df = pd.read_sql("SELECT * FROM salaries", connection)

# Creating an dataframe from salaries table on database
titles_df = pd.read_sql("SELECT * FROM titles", connection)

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees
salary = salaries_df['salary']

# Labeling graph
plt.hist(salary)
plt.xlabel("Salary Ranges")
plt.ylabel("Number of Employees")
plt.title("Salary Distribution")
plt.grid(alpha = .25)
plt.show()

In [ ]:
#Merge Employees and Salary DataFrame
emp_sal_df = pd.merge(employees_df, salaries_df, on = 'emp_no')

#Merge emp_sal_df and titles_df DataFrame
emp_titles_sal_df = pd.merge(emp_sal_df, titles_df, on = 'title_id')

In [ ]:
#Group By Titles
group_title = emp_titles_sal_df.groupby(["title"])

#To get titles
titles = sorted(titles_df['title'].unique())

#To get the average salaries
avg_salary = group_title['salary'].mean()

In [ ]:
#Create a bar chart of average salary by title.
plt.bar(titles, avg_salary, align = "center", color = "gold", edgecolor ="black")

# Labeling graph
plt.title("Average Salary by Job Title")
plt.xlabel("Job Title")
plt.ylabel("Average Salary")
plt.xticks(rotation = 90)
plt.show()

In [ ]:
#Search for your ID number: 499942
my_id = 499942
my_info = emp_titles_sal_df.loc[emp_titles_sal_df["emp_no"] == my_id, :]
my_info